* {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 2em;
}

h2, p, li {
    margin-bottom: 1em;
}

.meta {
    font-size: 0.8em;
    margin-bottom: 3em;
    color: #9eabb3;
    a {
        color: inherit;
        text-decoration: none;
    }
}

li {
    margin-left: 1em;
}


body {
    max-width: 670px;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #333;
}

p {
    line-height: 1.7em;
    text-align: justify;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
    background: #ccc;
    p {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.instruction {
    padding-top: 1em;
    clear: both;
    font-weight: bold;
    text-align: center;
}

.demo {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 2em;
    clear: both;
    p, button, input {
        font-size: 120%;
    }
}

.layers {
    margin: auto;
    background: #00cc66;
    position: relative;
    width: 100%;
    width: 500px;
    height: 500px;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

button {
    padding: 0 0.5em;
    margin-right: 0.2em;
}

.controls {
    margin: 0.2em 0;
}
